*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
#postre,#masalimento,#alimentomas{
    display: none;    
    }

.formContain{
    position: absolute;
    margin-top: 3%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    width: 80%;
    z-index: 10;
}
.formContain2{
    margin-top: 3%;
    z-index: 10;
    padding-left: 5%;
    padding-top: 5%;
    margin-left: 5%;
    justify-content: center;
    position: absolute;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    height: 80vh;
}
.name{
    padding-bottom: 2%;
}
.img{
    width: 85%;
    position: absolute;  
    top:10%;
    opacity: .5;    
    z-index: -1;
    border-radius: 20px;
}
.salud{
    width: 95%;
    height: 95%;
    left: 2%;
    top: 1%;
    position: absolute;  
    top:5%;
    opacity: .5;    
    z-index: -1;
    background-size: cover;
    border-radius: 20px;
}